
.body{
  background-color: rgb(111, 182, 161);
  font-family: verdana;
}

.center-align{
  text-align: center;
}

.form-container{
  /* position: absolute; */
  margin-top: 75px;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
}

.bg{
  /* background-image: url("/bg1.jpg"); */
  /* background: url(./bg1.jpg) no-repeat; */
}


.navbar{
  width: 250px;
  height: 100vh;
  position: fixed;
  /* margin-left: -300px; */
  background-color: blueviolet;

}